<!--simulations.html-->

{{ template "header.html" .}}

<div class="w3-container" style="width:80%">
    <div class="w3-medium">
        <h4>Project Management (Under Development)</h4>
        <h5>
            <div class="w3-btn w3-block w3-round w3-red ">
                <a href="/user/re-initialize">Reinitialize all Simulations</a>
            </div>
        </h5>
        <header class="w3-container w3-blue">
            <h3 class="w3-center"> Your simulations (so far) </h3>
          </header>
        
        <table id="your-simulations" class="display compact w3-small" style="width:80%">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Name</th>
                    <th>Periods</th>
                    <th>Switch</th>
                    <th>Delete</th>
                    <th>Restart</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody>
                {{ range .simulations}}
                <tr>
                    <td> {{ .User }} </td>
                    <td> {{ .Name }}</td>
                    <td> {{ .Periods_Per_Year }}</td>
                    <td>

                        <!-- {% if simulation == simulation.user.current_simulation %} -->
                        <!-- <button class="w3-button w3-round-large w3-grey">Switch</button> -->
                        <a href="/user/select-simulation/"{{ .Id }} class="w3-button w3-round-large w3-green ">Switch</a> 

                    </td>

                    <td>
                        <!-- {% if simulation == simulation.user.current_simulation %} -->
                        <!-- <button class="w3-button w3-round-large w3-grey ">Delete</button> -->
                        <a href="/user/delete-simulation/"{{ .Id }} class="w3-button w3-round-large w3-red ">Delete</a> 
                    </td>

                    <td>
                        <a href="user/restart-simulation/"{{ .Id}} class="w3-button w3-round-large w3-orange ">Restart</a></td>
                    <td> <button class="w3-button w3-grey w3-round-large ">Download</button></td>
                </tr>
                {{ end }}
            </tbody>
        </table>
        <header class="w3-container w3-blue">
            <h3 class="w3-center"> Templates to choose from </h3>
          </header>
        
        <table id="simulation-templates" class="display compact w3-small" style="width:80%">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Name</th>
                    <th>Periods</th>
                    <th>Clone</th>
                </tr>
            </thead>
            <tbody>
                {{ range .templates}}
                <tr>
                    <td> {{ .User }} </td>
                    <td> {{ .Name }}</td>
                    <td> {{ .Periods_Per_Year }}</td>
                    <td>
                        <a href="{{ .Link }}" class="w3-button w3-round-large w3-green ">Clone this template</a> 
                    </td>

                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
    </p>
</div>
</p>


{{ template "footer.html" .}}